html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(circle at 104.17% 4.55%, #abf900 0, #8ef200 16.67%, #6ee906 33.33%, #48df23 50%, #00d532 66.67%, #00cb3e 83.33%, #00c248 100%);
}

input{
    border:1px solid rgb(0,0,0);
    width: 400px;
    margin:auto;
}
label{

    width: 80%;
    display: inline-block;
    color: #537791;
    text-align:left;
    font-weight: bold;
}