{% extends 'base.html.twig' %}

{% block title%}
Article n°{{ id }}
{% endblock %}

{% block body %}
    <h1>Article n° {{ id }}</h1>
    <a href="{{ returnUrl }}"><button>Retour</button></a>
{% endblock %}